<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Règle 1 importée">
                    <match url=".*(?:global.asa|default\.ida|root\.exe|\.\.).*" />
                    <action type="CustomResponse" url="." statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Règle 2 importée" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern=".*\..+$" ignoreCase="false" />
                        <add input="{REQUEST_URI}" pattern="(?!.*\.html$).*" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Règle 3 importée" stopProcessing="true">
                    <match url="(.*\.php)(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}{R:2}" />
                </rule>
                <rule name="Règle 4 importée" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="WebDAV" />
            <add name="WebDAV" path="*" verb="*" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
        </handlers>
    </system.webServer>
</configuration>
